body{
    background-color: #272343!important;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}

h1 {
    color: white!important;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}

#price {
    font-size: 4em;
    color: white;
    border-radius: 50px;
    background: #262626;
    box-shadow: 20px 20px 60px #202020,
            -20px -20px 60px #2c2c2c;
}